{% extends 'admin/players/layout.html' %}

{% block admin_players_content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Player</legend>
                <div class="form-group">
                    {{ form.player_dd.label(class="form-control-label") }}
                    {% if form.player_dd.errors %}
                        {{ form.player_dd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_dd.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_dd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.number.label(class="form-control-label") }}
                    {% if form.number.errors %}
                        {{ form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.number.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.birth_day.label(class="form-control-label") }}
                    <p>
                        {{form.birth_day(class="form-control")}}
                    </p>
                    
                    {{ form.birth_month.label(class="form-control-label") }}
                    <p>
                        {{form.birth_month(class="form-control")}}
                    </p>

                    {{ form.birth_year.label(class="form-control-label") }}
                    <p>
                        {{form.birth_year(class="form-control")}}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.image.label() }}
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger"> {{ error }} </span><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.team_dd.label(class="form-control-label") }}
                    <p>
                        {{form.team_dd(class="form-control")}}
                    </p>
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <script charset="utf-8" type="text/javascript">
        $(function() {
            var players = $('#select_players');
            // event listener to state dropdown change
            players.on('change', function() {
                var id = players.val();
                if (id == -1)
                    document.location.href = "{{url_for('players.admin_players_update')}}";
                else
                    document.location.href = "{{url_for('players.admin_players_update')}}" + "?id=" + id;
            });
        });    
    </script>
{% endblock admin_players_content %}