{% extends 'layout.html' %}

{% block content %}
    {% for news in newslist %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ news.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ news.news_title }}</a></h2>
            <p class="article-content">{{ news.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}