{% extends 'layout.html' %}

{% block content %}
    <a href="{{ url_for('team', id=id)}}">General</a> | 
    <a href="{{ url_for('teamschedule', id=id)}}">Team Schedule</a> | 
    <a href="{{ url_for('teamresults', id=id)}}">Team Results</a> |
    <a href="{{ url_for('teamsquad', id=id)}}">Team Squad</a>

    {% for match in schedule %}
        <p>{{ match.date }} 
            <a href="{{ url_for('team', id=match.team1_id)}}">
                {{ match.team1_name }}
            </a> 
            VS 
            <a href="{{ url_for('team', id=match.team2_id)}}">
            {{ match.team2_name }}
            </a>
        </p>
    {% endfor %}
{% endblock content %}