{% extends 'admin/admin-players-layout.html' %}

{% block admin_players_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Player</legend>
                
                <div class="form-group">
                    {{ form.player_dd.label(class="form-control-label") }}
                    <p>
                        {{form.player_dd()}}
                    </p>
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_players_content %}