{% extends 'admin/admin-layout.html' %}

{% block admin_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ add_form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add News</legend>
                <div class="form-group">
                    {{ add_form.title.label(class="form-control-label") }}
                    {% if add_form.title.errors %}
                        {{ add_form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in add_form.title.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ add_form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ add_form.content.label(class="form-control-label") }}
                    {% if add_form.content.errors %}
                        {{ add_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in add_form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ add_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ add_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <form method="POST" action="">
            {{ update_form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update News</legend>

                <div class="form-group">
                    {{ update_form.news_dd.label(class="form-control-label") }}
                    <p>
                        {{update_form.news_dd()}}
                    </p>
                </div>

                <div class="form-group">
                    {{ update_form.title.label(class="form-control-label") }}
                    {% if update_form.title.errors %}
                        {{ update_form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.title.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ update_form.content.label(class="form-control-label") }}
                    {% if update_form.content.errors %}
                        {{ update_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ update_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <form method="POST" action="">
            {{ delete_form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete News</legend>
                
                <div class="form-group">
                    {{ delete_form.news_dd.label(class="form-control-label") }}
                    <p>
                        {{delete_form.news_dd()}}
                    </p>
                </div>

            </fieldset>
            <div class="form-group">
                {{ delete_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_content %}