{% extends 'layout.html' %}

{% block content %}
    <p>{{ stats.team1_logo }} {{ stats.team1_name }} {{ stats.team1_goals }} : {{ stats.team2_goals }} {{ stats.team2_name }} {{ stats.team2_logo }}</p>
    <p>{{ stats.team1_posession }} POSESSION {{ stats.team2_posession }}</p>
    <p>{{ stats.team1_shots }} SHOTS {{ stats.team2_shots }}</p>
    <p>{{ stats.team1_yellow }} YELLOW CARDS {{ stats.team2_yellow }}</p>
    <p>{{ stats.team1_red }} RED CARDS {{ stats.team2_red }}</p>
{% endblock content %}