{% extends 'home/layout.html' %}

{% block content %}
    {% for news in newslist.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ news.date.strftime('%B %d, %Y') }}</small>
            </div>
            <h2 class="article-title">{{ news.title }}</h2>
            <p class="article-content">{{ news.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% for page_num in newslist.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if newslist.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}