{% extends 'home/layout.html' %}

{% block content %}
    <table class = "table table-dark table-striped table-hover">
        <thead>
            <th>Image</th>
            <th>Name</th>
        </thead>

        {% for team in teams %}
            <tr>
                <td><a href="{{ url_for('team', id=team.id)}}"><img src="{{ team.logo }}" width="100"></a></td>
                <td><a href="{{ url_for('team', id=team.id)}}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}