{% extends 'home/layout.html' %}

{% block content %}


<div class="card" style="width: 65rem;">
    
    <div class="card-body">
    <a href="{{ url_for('teams.team', id=id)}}" class="customLink">General</a> | 
    <a href="{{ url_for('teams.teamschedule', id=id)}}" class="customLink">Team Schedule</a> | 
    <a href="{{ url_for('teams.teamresults', id=id)}}" class="customLink">Team Results</a> |
    <a href="{{ url_for('teams.teamsquad', id=id)}}" class="customLink">Team Squad</a>

    </div>
</div>
<br>
<div class="card" style="width: 65rem;">
    
    <div class="card-body">
    {% block team_content %}
    {% endblock team_content %}
    </div>
</div>

{% endblock content %}