{% extends 'team/team-layout.html' %}

{% block team_content %}
    <table>
        <thead>
            <th>Date</th>
            <th>Host Team</th>
            <th>Guest Team</th>
        </thead>

        {% for match in schedule %}
            <tr>
                <td>{{ match.date }}</td>
                <td style="white-space:nowrap">
                    <a href="{{ url_for('teams.team', id=match.host_team_id)}}">
                        <img src="{{ match.host_team_logo }}" width="100">
                        {{ match.host_team.name }}
                    </a>
                </td>

                <td style="white-space:nowrap">
                    <a href="{{ url_for('teams.team', id=match.guest_team_id)}}">
                        <img src="{{ match.guest_team_logo }}" width="100">
                        {{ match.guest_team.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock team_content %}