{% extends 'admin/news/layout.html' %}

{% block admin_news_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete News</legend>
                
                <div class="form-group">
                    {{ form.news_dd.label(class="form-control-label") }}
                    <p>
                        {{form.news_dd()}}
                    </p>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_news_content %}