{% extends 'admin/layout.html' %}

{% block admin_content %}
<br>

<div class="card" style="width: 30rem;">
    
    <div class="card-body">
    <p>
        <a href="{{ url_for('news.admin_news_add') }}"class="customLink">Add News</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a href="{{ url_for('news.admin_news_update') }}"class="customLink">Update News</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('news.admin_news_delete') }}"class="customLink">Delete News</a>
    </p>
    </div>
</div>
<br>
    {% block admin_news_content %}{% endblock admin_news_content%}
{% endblock admin_content %}