{% extends 'admin/news/layout.html' %}

{% block admin_news_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update News</legend>

                <div class="form-group">
                    {{ form.news_dd.label(class="form-control-label") }}
                    {% if form.news_dd.errors %}
                        {{ form.news_dd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.news_dd.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.news_dd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <script charset="utf-8" type="text/javascript">
        $(function() {
            var news = $('#select_news');
            // event listener to state dropdown change
            news.on('change', function() {
                var id = news.val();
                if (id == -1)
                    document.location.href = "{{url_for('news.admin_news_update')}}";
                else
                    document.location.href = "{{url_for('news.admin_news_update')}}" + "?id=" + id;
            });
        });    
    </script>
{% endblock admin_news_content %}