{% extends 'standings/standings-layout.html' %}

{% block standings_content %}
    <table>
        <thead>
            <th>Player</th>
            <th>Number</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Yellow</th>
            <th>Red</th>
        </thead>

        {% for player in players %}
            <tr>
                <td><a href="{{ url_for('player', id=player.id)}}"> {{ player.name }}</a><br></td>
                <td>{{ player.number }}</td>
                <td>{{ player.points }}</td>
                <td>{{ player.goals }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.yellow }}</td>
                <td>{{ player.red }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock standings_content %}