{% extends 'home/layout.html' %}

{% block content %}


    
  
                <div class="card col-md-8">
    
                    <div class="card-body">
                        <a href="{{ url_for('standings.standings') }}" class="customLink">Standings</a> | 
                        <a href="{{ url_for('standings.bestplayers') }}"class="customLink">Best players</a> | 
                        <a href="{{ url_for('standings.bestscorers') }}"class="customLink">Best scorers</a>
                    </div>
    
                </div>
         

<br>
        

  

    

    {% block standings_content %}{% endblock standings_content%}
{% endblock content %}