{% extends 'standings/standings-layout.html' %}


{% block standings_content %}
    <table class="table table-dark table-striped table-hover">
        <thead>
            <th>Team</th>
            <th>Points</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Matches</th>
            <th>Goal difference</th>
        </thead>

        {% for team in teams %}
        <tr>
            <td style="white-space:nowrap">
                <a href="{{ url_for('teams.team', id=team.id)}}">
                    <img src="{{ team.logo }}" width="100">
                    {{ team.name }}
                </a>
            </td>
            <td>{{ team.points }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.matches }}</td>
            <td>{{ team.goal_diff }}</td>
        </tr>
        {% endfor %}
    </table>

    
{% endblock standings_content %}
