{% extends 'admin/matches/layout.html' %}

{% block admin_match_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Match</legend>
                <div class="form-group">
                    {{ form.host_team_dd.label(class="form-control-label") }}
                    <p>
                        {{form.host_team_dd(class="form-control")}}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.guest_team_dd.label(class="form-control-label") }}
                    {% if form.guest_team_dd.errors %}
                        {{ form.guest_team_dd(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.guest_team_dd.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.guest_team_dd(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.day.label(class="form-control-label") }}
                    <p>
                        {{form.day(class="form-control")}}
                    </p>
                    
                    {{ form.month.label(class="form-control-label") }}
                    <p>
                        {{form.month(class="form-control")}}
                    </p>

                    {{ form.year.label(class="form-control-label") }}
                    <p>
                        {{form.year(class="form-control")}}
                    </p>
                </div>                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_match_content %}