{% extends 'admin/matches/layout.html' %}

{% block admin_match_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Match</legend>
                <div class="form-group">
                    {{ form.match_dd.label(class="form-control-label") }}
                    <p>
                        {{form.match_dd(class="form-control")}}
                    </p>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_match_content %}