{% extends 'admin/layout.html' %}

{% block admin_content %}
<br>

<div class="card" style="width: 30rem;">
    
    <div class="card-body">
    <p>
        <a href="{{ url_for('matches.admin_matches_add') }}"class="customLink">Add Match</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('matches.admin_matches_update') }}"class="customLink">Update Match</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('matches.admin_matches_delete') }}"class="customLink">Delete Match</a>
    </p>
    </div>
</div>
 <br>

    {% block admin_match_content %}{% endblock admin_match_content%}
{% endblock admin_content %}