{% extends 'admin/matches/layout.html' %}

{% block admin_match_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Match</legend>
                <div class="form-group">
                    {{ form.match_dd.label(class="form-control-label") }}
                    <p>
                        {{form.match_dd(class="form-control")}}
                    </p>
                </div>
                <div class="form-group">
                    {{ form.host_team_dd.label(class="form-control-label") }}
                    <p>
                        {{form.host_team_dd(class="form-control")}}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.guest_team_dd.label(class="form-control-label") }}
                    <p>
                        {{form.guest_team_dd(class="form-control")}}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.day.label(class="form-control-label") }}
                    <p>
                        {{form.day(class="form-control")}}
                    </p>
                    
                    {{ form.month.label(class="form-control-label") }}
                    <p>
                        {{form.month(class="form-control")}}
                    </p>

                    {{ form.year.label(class="form-control-label") }}
                    <p>
                        {{form.year(class="form-control")}}
                    </p>
                </div>                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <script charset="utf-8" type="text/javascript">
        $(function() {
            var matches = $('#select_matches');
            // event listener to state dropdown change
            matches.on('change', function() {
                var id = matches.val();
                if (id == -1)
                    document.location.href = "{{url_for('matches.admin_matches_update')}}";
                else
                    document.location.href = "{{url_for('matches.admin_matches_update')}}" + "?id=" + id;
            });
        });    
    </script>
{% endblock admin_match_content %}