{% extends 'admin/statistics/layout.html' %}

{% block admin_stats_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Statistics</legend>
                
                <div class="form-group">
                    {{ form.match_dd.label(class="form-control-label") }}
                    {% if form.match_dd.errors %}
                        {{ form.match_dd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.match_dd.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.match_dd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.player_dd.label(class="form-control-label") }}
                    {% if form.player_dd.errors %}
                        {{ form.player_dd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_dd.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_dd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.goals.label(class="form-control-label") }}
                    {% if form.goals.errors %}
                        {{ form.goals(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.goals.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.goals(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.assists.label(class="form-control-label") }}
                    {% if form.assists.errors %}
                        {{ form.assists(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.assists.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assists(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.red.label(class="form-control-label") }}
                    {% if form.red.errors %}
                        {{ form.red(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.red.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.red(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.yellow.label(class="form-control-label") }}
                    {% if form.yellow.errors %}
                        {{ form.yellow(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.yellow.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.yellow(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <script charset="utf-8" type="text/javascript">
        $(function() {
            var matches = $('#select_match_add');
            // event listener to state dropdown change
            matches.on('change', function() {
                var id = matches.val();
                if (id == -1)
                    document.location.href = "{{url_for('statistics.admin_statistics_add')}}";
                else
                    document.location.href = "{{url_for('statistics.admin_statistics_add')}}" + "?match_id=" + id;
            });
        });    
    </script>
{% endblock admin_stats_content %}