{% extends 'admin/teams/layout.html' %}

{% block admin_teams_content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
    
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Team</legend>
                <div class="form-group">
                    {{ form.teams_dd.label(class="form-control-label") }}
                    <p>
                        {{form.teams_dd()}}
                    </p>
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock admin_teams_content %}