{% extends 'home/layout.html' %}

{% block content %}
    <div class="content-section">
        <div class="jumbotron">
        <h4><b>Image:</b> {{ current_user.image }}</h1>
        <h4><b>Name:</b> {{ current_user.name }}</h1>
        <h4><b>Email:</b> {{ current_user.email }}</h1>
        <h4><b>Number:</b> {{ current_user.number }}</h1>
        <h4><b>Birthdate</b>: {{ current_user.birthdate }}</h1>
    </div>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                <div class="form-group">
                    {{ form.current_password.label(class="form-control-label") }}
                    {% if form.current_password.errors %}
                        {{ form.current_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_password.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.new_password.label(class="form-control-label") }}
                    {% if form.new_password.errors %}
                        {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.new_password.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#"> Forgot password? </a>
            </small>
        </form>
    </div>
{% endblock content %}