{% extends 'home/layout.html' %}

{% block content %}
    <table class="table table-dark table-striped table-hover">
        <thead>
            <td>Host Team</td>
            <td>Guest Team</td>
            <td>Time</td>
            <td>Playing</td>
            <td>Not Playing</td>
            <td>Pending</td>
            <td>Am I Playing?</td>
        </thead>

        {% for match in matches %}
            <tr>
                <td>{{ match.host_team.name }}</td> 
                <td>{{ match.guest_team.name }} </td>
                <td>{{ match.date_time.strftime('%B %d, %Y at %H:%M') }}</td>
                <td>{{ match.playing }}</td>
                <td>{{ match.not_playing }}</td>
                <td>{{ match.pending }}</td>
                <td>
                    <div class="btn-group">
                        <label class="btn btn-success">
                          <input type="radio" name="{{match.id}}" onchange="radioHandler(true, {{match.id}})" {{match.current_user_yes}}> &nbsp;Yes&nbsp;
                        </label>
                        <label class="btn btn-danger">
                          <input type="radio" name="{{match.id}}" onchange="radioHandler(false, {{match.id}})" {{match.current_user_no}}> &nbsp;No&nbsp;&nbsp;
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        function radioHandler(playing, id) {
            if (playing) {
                document.location.href = "{{url_for('users.myteam')}}" + "?playing=1" + "&match=" + id + "&player=" + "{{current_user.id}}";
            }
            else {
                document.location.href = "{{url_for('users.myteam')}}" + "?playing=0" + "&match=" + id + "&player=" + "{{current_user.id}}";
            }
        }
    </script>
{% endblock content %}